header{
    padding: 1%;
    background-color: #f2f2f2;
    display: flex;
    border: solid 1px black;
}
.business-name{
    margin: 1px 3%;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1%;
}
.login-btn{
    padding: 0.5% 1%;
    margin: 3px;
    height: 30px;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: auto;
    border: solid 1px black;
}
.logo{
    margin-right: auto;
    display: flex;
}