header{
    padding: 1%;
    background-color: #f2f2f2;
    display: flex;
    border: solid 1px black;
}
body{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1%;
}
.login-btn{
    padding: 2%;
    margin: 3%;
    height: 30px;
    align-self: center;
    border-radius: 10px;
    margin-left: auto;
}
.logo{
    margin-right: auto;
}